---
layout: layouts/page.njk
---

<header class="article-header">
  <div class="title-container">
    <h1 class="page-title">{{ title }}</h1>
  </div>
</header>

<article class="content">
  {{ content | safe }}
</article>
