<!doctype html>
<html lang="ru">
<head>
  {% set pageTitle %}
  {{ title or renderData.title }} – {{ siteInfo.name }}
  {% endset %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ pageTitle }}</title>

  <link rel="stylesheet" href="/assets/css/bettertext.css">
  <link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body class="body">
  <header class="header">
    <div class="container">
      <!--<button class="menu-button">
        <img class="icon menu" src="/assets/pictures/icons/menu.svg" aria-hidden="true" alt="Кнопка меню">
      </button>-->

      <h2 class="site-name">{{ siteInfo.name }}</h2>

      <a class="github-link" href="https://github.com">
        <img class="icon github-social" src="/assets/pictures/icons/github.svg" aria-hidden="true" alt="Ссылка на репозиторий">
      </a>

      <div class="search-container">
        <input class="search-input" type="search" placeholder="Искать...">
      </div>

      <button class="theme-switch-button">
        <svg class="icon bulb-icon" viewBox="0 0 512 512" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M344,408v16a40.045,40.045,0,0,1-40,40h-8.8a40.005,40.005,0,0,1-78.392,0H208a40.045,40.045,0,0,1-40-40V408a24.027,24.027,0,0,1,24-24H320A24.027,24.027,0,0,1,344,408ZM366.732,60.258A160.092,160.092,0,1,0,150.2,296.036,53.19,53.19,0,0,1,168,336a24.027,24.027,0,0,0,24,24H320a24.028,24.028,0,0,0,24-24,53.344,53.344,0,0,1,17.875-40.032,160.293,160.293,0,0,0,4.857-235.708Z" />
        </svg>
      </button>
    </div>
  </header>
  <main class="main">
    <aside class="main-sidebar">
      <nav>
        <ul class="main-navigation">
          {%- for item in menu -%}
          <li class="nav-item">
            {%- if item.url -%}
              <p class="title"><a href="{{ item.url }}">{{ item.title }}</a></p>
            {%- else -%}
              <p class="title">{{ item.title }}</p>
            {%- endif -%}

            {%- if item.childs | length > 0 -%}
              <ul class="child-navigation">
                {%- for child in item.childs -%}
                  <li>
                    <a href="{{ child.url }}">{{ child.label }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}

          </li>
          {%- endfor -%}
        </ul>
      </nav>
    </aside>
    <article class="main-content">
      {{ content | safe }}
    </article>
    <aside class="page-sidebar">
      <section class="page-sidebar-section">
        <h3 class="section-title">Содержание</h3>
        {{ content | toc | safe }}
      </section>

      <section class="page-sidebar-section">
        <h3 class="section-title">Ещё</h3>
        <ul class="page-sidebar-action-list">
          <li><a href="">Редактировать эту страницу</a></li>
          <li><a href="">Присоедениться к сообществу</a></li>
        </ul>
      </section>
    </aside>
  </main>
  <footer class="footer">
    <div class="container">
      © 2015–2021 Google, Inc., Netflix, Inc., Microsoft Corp. and contributors.
      Code licensed under an Apache-2.0 License. Documentation licensed under CC BY 4.0.
    </div>
  </footer>
</body>
</html>
