<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ title }} – {{ site.name }}</title>

    <link rel="stylesheet" href="/assets/styles/normalize.css">

    <!--<script>
      if (window.matchMedia('(prefers-color-scheme: dark)').media === 'not all') {
        document.documentElement.style.display = 'none';
        document.head.insertAdjacentHTML(
          "beforeend",
          "<link rel=\"stylesheet\" href=\"/assets/styles/light.css\" onload=\"document.documentElement.style.display = ``\">",
        );
      }
    </script>-->

    <link rel="stylesheet" href="/assets/styles/light-code-theme.css">

    <link rel="stylesheet" href="/assets/styles/dark.css">
    <link rel="stylesheet" href="/assets/styles/light.css">

    <link rel="stylesheet" href="/assets/styles/index.css">

    <link rel="stylesheet" href="/assets/styles/print.css" media="print">

    <link rel="shortcut icon" href="/assets/pictures/rxjs.png">
<!--    <script defer data-domain="learnrxjs.ru" src="https://plausible.io/js/plausible.js"></script>-->
  </head>
  <body class="body">
    <aside class="body-child navigation-sidebar">
      <div class="navigation-sidebar-content">
        <h2 class="title">
          <a href="/">
            <img class="logo" src="/assets/pictures/rxjs.png" alt="RxJS логотип">
          </a>
          <span>Learn RxJS</span>
        </h2>

        <div class="search-container">
          <input id="search-input" type="search" class="search-input" placeholder="Поиск...">
          <kbd class="search-keyboard-shortcut">/</kbd>
        </div>

        <nav>
          <ul class="navigation-list">
            <li>
              <span>Обзор</span>
              <ul class="navigation-list">
                <li class="is-can-highlight"><a href="/guide/overview">Введение</a></li>
                <li class="is-can-highlight"><a href="/guide/observable">Наблюдаемый</a></li>
                <li class="is-can-highlight"><a href="/guide/operators">Операторы</a></li>
                <li class="is-can-highlight"><a href="/guide/subscription">Подписка</a></li>
                <li class="is-can-highlight"><a href="/guide/subject">Сабжект</a></li>
                <li class="is-can-highlight"><a href="/guide/scheduler">Шедулер</a></li>
                <li class="is-can-highlight"><a href="/guide/testing/marble-testing">Marble-тестирование</a></li>
              </ul>
            </li>
            <li class="is-can-highlight is-active"><a href="/guide/installation">Установка</a></li>
            <li class="is-can-highlight"><a href="/guide/glossary-and-semantics">Глоссарий</a></li>
            <li class="is-can-highlight"><a href="/api">API</a></li>
          </ul>
        </nav>
      </div>
    </aside>

    {{ content | safe }}

    <script>
      console.error(`TODO
    1. Стили для печати
    2. Сделать футер
    3. Сделать фавикон`)
    </script>

    <script src="/assets/scripts/toc.js"></script>
    <script src="/assets/scripts/main.js"></script>
  </body>
</html>
