---
layout: layouts/page.njk
---

<header class="article-header">
  <div class="breadcrumbs-container">
    <ul class="breadcrumb-list">
      <li class="breadcrumb-list-item">
        <a href="/api">API</a>
      </li>
      <li class="breadcrumb-list-item">
        <a href="/api/{{ entityInfo.package }}/">{{ entityInfo.package }}</a>
      </li>
    </ul>
  </div>
  <div class="title-container">
    <h1 class="page-title">{{ title }}</h1>
    <span class="entity-info-label entity-type">{{ translates.entityTypes[ entityInfo.type ] }}</span>
    <span class="entity-info-label entity-status">{{ translates.entityStatuses[ entityInfo.status ] }}</span>
  </div>
</header>

<article class="content">
  {{ content | safe }}
</article>
