---
layout: layouts/base.njk
---

<main class="main body-child">
  {{ content | safe }}
</main>

<aside class="extra-sidebar body-child">
  <div class="table-of-content-container">
    <h2>Содержание</h2>
    <div class="toc-instance"></div>
  </div>
</aside>
