html, body {
  width: 100%;
  height: 100%;
}

.body {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: 16px;
  display: grid;
  grid-template-rows: min-content 1fr 1fr;

  --accent-color: hsl(338deg, 78%, 48%);

  transition: 250ms linear color, 250ms linear background-color;

  --text-color: hsl(215, 14%, 34%);
  --invert-text-color: hsl(0, 0%, 100%);

  --bg-color: hsl(0, 0%, 100%);
  --border: 1px solid hsl(215deg 14% 34% / 17%);
}

* {
  box-sizing: border-box;
  outline-offset: 3px;
  outline-color: hsl(240deg 100% 71%);
}

button {
  cursor: pointer;
}

code {
  background-color: hsl(0deg 0% 50% / 22%);
  padding: 0 4px;
  border-radius: 4px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid hsl(220, 13%, 91%);
  background-color: hsl(210, 20%, 98%);
  border-radius: 5px;
}

.container {
  max-width: 76rem;
  margin: 0 auto;
}

.header {
  border-bottom: var(--border);
}

.header .container {
  display: grid;
  grid-template-columns: 1fr 1.5rem 15rem 1.5rem;
  gap: 1rem;
  padding: 1rem 0;
  align-items: center;
}

.footer {
  border-top: var(--border);
}

a {
  color: hsl(240deg 100% 68%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.icon {
  width: 1.5rem;
  max-width: initial;
}

.site-name {
  margin: 0;
}

.github-social {
  width: 100%;
}

a.github-link {
  line-height: 0.7;
}

.bulb-icon {
  width: 1.5rem;
  fill: hsl(46deg 100% 50%);
}

.theme-switch-button,
.menu-button {
  font: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 0.5;
}

.main-navigation,
.child-navigation,
.page-sidebar-action-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.child-navigation,
.page-sidebar-action-list {
  padding-left: 1rem;
}

.sidebar {
  border-right: var(--border);
  padding: 1rem;
}

.main {
  display: grid;
  grid-template-columns: 13rem minmax(0, 45rem) 18rem;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

.main.page {
  grid-template-columns: 13rem minmax(0, 63rem);
}

.page .main-content-wrapper {
  border-right: var(--border);
}

.main-sidebar {
  border-left: var(--border);
}

.page-sidebar {
  border-right: var(--border);
}

.main-sidebar {
  border-right: var(--border);
}

.page-sidebar {
  border-left: var(--border);
}

.main-sidebar,
.page-sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.main-sidebar,
.page-sidebar {
  padding: 1rem;
}

.main-sidebar a,
.page-sidebar a {
  color: var(--text-color);
}

.nav-item .title,
.page-sidebar .section-title {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}

.page-sidebar-section:not(:last-child) {
  margin-bottom: 1.3rem;
}

.nav-item {
  margin-bottom: 1.3rem;
}

.table-of-contents ul {
  margin: 0;
  max-width: initial;
  padding: 0 0 0 1rem;
  list-style: none;
}

.table-of-contents ul li {
  transform: none;
}

.alert {
  padding: 1.7rem 0.5rem 0.2rem 0.5rem;
  border-radius: 5px;
  position: relative;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 1rem;
  color: black;
}

.alert::before {
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 7px;
  border-bottom-right-radius: 5px;
  font-size: 0.8em;
}

.alert > *:first-child {
  margin-top: 0;
}

.alert > *:last-child {
  margin-bottom: 0;
}

.alert.note {
  background-color: hsl(245deg 82% 54% / 33%);
  border-color: hsl(244.7, 76.8%, 54.3%);
}

.alert.note::before {
  content: 'Заметка:';
  background-color: hsl(244.7, 76.8%, 54.3%);
}

.alert.error {
  background-color: hsl(0deg 84% 67% / 33%);
  border-color: hsl(0deg 82% 67%);
}

.alert.error::before {
  content: 'Важно:';
  background-color: hsl(0deg 82% 67%);
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid hsl(215deg 14% 34% / 17%);
  padding: 0.5rem;
  text-align: left;
}

.main-content-header {
  border-bottom: var(--border);
}

.main-content-header {
  padding: 0.5rem 1rem;
}

.main-content {
  padding: 0 1rem;
}

.article-title {
  margin: 0;
}

.article-date-create {
  color: hsl(0deg 1% 63%);
}

.api-table {
  width: 100%;
}

.api-page-header {
  margin: 1rem 0;
}

.api-page-filter {
  display: flex;
  gap: 1rem;
}
