---
layout = "layouts/page.njk"
title = "API"
#scripts = [
#  "/assets/js/rxjs-7.3.1.umd.min.js",
#  "/assets/js/redom.js",
#  "/assets/js/api-page.js"
#]
---

{% macro apiTableRow(apiItem) %}
<tr data-api-item-info="{{ apiItem | prepareApiItemForJSON }}">
  <td>
    <a href="{{ apiItem.url }}">{{ apiItem.data.title }}</a>
  </td>
  <td>{{ translates.apiContentTypes[ apiItem.data.contentType ] }}</td>
</tr>
{% endmacro %}

<!--<header class="api-page-header">
  <form class="api-page-filter">
    <div class="field">
      <select id="type" name="type">
        <option value="all">Все</option>
        <option value="class">Класс</option>
        <option value="function">Функция</option>
      </select>
    </div>

    <div class="field">
      <select id="sort" name="sort">
        <option value="name-by-asc">название по убыванию</option>
        <option value="name-by-desc">название по возрастанию</option>
        <option value="type-by-desc">тип по убыванию</option>
        <option value="type-by-desc">тип по возрастанию</option>
      </select>
    </div>

    <div class="field">
      <input id="filter" type="text" name="filter" placeholder="Фильтр">
    </div>
  </form>
</header>-->

<section class="api-page-table-container">

  <section class="package-type-container">
    <h2 class="section-title">index</h2>
    <ul class="entity-list">
      {%- for item in collections.apiIndex -%}
      <li class="entity-list-item"><a href="{{ item.url }}">{{ item.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </section>

  <section class="package-type-container">
    <h2 class="section-title">operators</h2>
    <ul class="entity-list">
      {%- for item in collections.apiOperators -%}
      <li class="entity-list-item"><a href="{{ item.url }}">{{ item.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </section>
</section>
