* {
  box-sizing: border-box;
  outline: none;
}

*:focus {
  box-shadow: 0 0 0 3px hsl(338deg 78% 48% / 54%);
}

html {
  height: 100%;
}

.body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.4;
  color: var(--text-color);
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 1fr 60ch 1fr;
}

.body-child {
  padding: 0 1rem;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2),
              0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

a {
  color: hsl(338deg 78% 48%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  border-left: 3px solid hsl(338deg 78% 48%);
  margin: 0;
  padding: 0.5rem 1rem;
  background: hsl(220deg 20% 97%);
}

blockquote > *:first-child {
  margin-top: 0;
}

blockquote > *:last-child {
  margin-bottom: 0;
}

code:not([class*="language"]) {
  background-color: hsl(220deg 20% 97%);
  font-size: 0.9em;
  padding: 3px 5px;
  border-radius: 4px;
}

pre[class*="language-"] {
  font-size: 0.85em;
}

.main {
  line-height: 1.6em;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.logo {
  width: 50px;
}

.navigation-sidebar {
  background-color: hsl(220deg 18% 97%);
  border-right: 1px solid hsl(0deg 0% 87%);
  display: flex;
  justify-content: flex-end;
}

.search-container {
  margin-bottom: 1rem;
  position: relative;
}

.search-input {
  color: hsl(0deg 0% 11%);
  background-color: hsl(0deg 0% 100%);
  border: 1px solid hsl(0deg 0% 85%);
  font-family: inherit;
  padding: 7px 29px 7px 10px;
  border-radius: 6px;
  outline: none;
  width: 100%;
  margin: 0;
}

.search-keyboard-shortcut {
  position: absolute;
  right: 11px;
  top: 7px;
  pointer-events: none;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list li {
  border-radius: 5px;
}

.navigation-list li:not(:last-child) {
  margin-bottom: 0.2rem;
}

.navigation-list a {
  color: var(--link-color, hsl(0deg 0% 53%));
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
}

.navigation-list .is-can-highlight:hover,
.navigation-list .is-can-highlight.is-active {
  background-color: hsl(0deg 4% 91%);
  --link-color: black;
}

.navigation-list li ul {
  padding-left: 1rem;
}
