* {
  box-sizing: border-box;
}

.body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.4;
  color: var(--text-color);
  background-color: var(--background-color);
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

.main {
  /* Максимальная ширина контейнера
  равна сумме ширины одного
  символа умноженное на 60 */
  max-width: 60ch;
  margin: 0 auto;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  list-style: none;
  gap: 1rem;
  margin: 1rem 0;
}

.menu-item {
  display: block;
  padding: 1rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.logo {
  width: 50px;
}

.search-form {
  display: flex;
}

.search-input {
  flex-grow: 1;
}
